body{
    margin: 0;
    background-color: #00233A;
}

.button{
    text-align: center;
    transition-duration: 0.4s;
    border-style: solid;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*BANNER*/
.banner{
    background-color: #1D7A8C;
    height: 4.5rem;
    width: 100%;
    position: fixed;
    top: 0;
}
.banner_content{
    height: 4.5rem;
}

.banner_home_img{
    height: 4.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}


.banner_login{
    height: 4.5rem;
    width: 10rem;
    float: right;
    font-size: 1.5rem;
    background-color: #ED8074;
    border-color: #00233A;
    cursor: pointer;
}

/* ************BACKGROUND******************* */
.background{
    margin-top: 150px;
    text-align: center;
}

.button_play{
    height: 4.5rem;
    width: 25rem;
    margin-top: 1rem;
    border-radius: 12px;
    border-color: #ED8074;
    background-color: #ED8074;
    color: #00233A;
    font-size: 2rem;
    cursor: pointer;
}
.button_play:hover {
    background-color: #00233A;
    color: #ED8074;
}

.button_highscore{
    height: 4.5rem;
    width: 25rem;
    margin-top: 1rem;
    border-radius: 12px;
    border-color: #1D7A8C;
    background-color: #00233A;
    color: #1D7A8C;
    text-decoration-color: #ED8074;
    font-size: 2rem;
    cursor: pointer;
}

.button_highscore:hover {
    background-color:#1D7A8C;
    color: #00233A;
}


