body{
    margin: 0;
    background-color: #00233A;
}

.button{
    transition-duration: 0.4s;
    border-style: solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* LogIn Modal */
.modal-content{
    background-color: #00233A;
    color: #ED8074;
}
.modal-header{
    border-color:#ED8074;
}
.modal-footer{
    border-color:#ED8074;
}

.modal-button{
    border: none;
    color:#ED8074;
    
}
.modal-button:hover{
    color:#00233A;
    background-color: #ED8074;
}
.submit-button{
    border-color:#ED8074;
    color: #00233A;
    background-color: #ED8074;
}

.submit-button:hover{
    border-color:#ED8074;
    color:#ED8074;
    background-color: #00233A;
}
/* Banner */
.banner{
    background-color: #1D7A8C;
    height: 4.5rem;
    width: 100%;
    top: 0;
    position:fixed;
}

.banner_home_img{
    height: 4.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.banner_login {
    height: 4.5rem;
    width: 10rem;
    float: right;
    font-size: 1.5rem;
    background-color: #ED8074;
    border-color: #00233A;
    border-radius: 4px;
    color: #00233A;
    cursor: pointer;
}
.banner_login .account-icon{
    padding: 0 12% 0 0;
}

.banner_login:hover {
    background-color: #00233A;
    border-color:#ED8074;
    color: #ED8074;
}






/* Background */

.background{
    margin-top: 150px;
    text-align: center;
}

.kozz_logo{
    height: 28rem;
}

.button_play{
    height: 4.5rem;
    width: 25rem;
    margin-top: 1rem;
    border-radius: 12px;
    border-color: #ED8074;
    background-color: #ED8074;
    color: #00233A;
    font-size: 2rem;
    cursor: pointer;
}
.button_play:hover {
    background-color: #00233A;
    color: #ED8074;
}

.button_highscore{
    height: 4.5rem;
    width: 25rem;
    margin-top: 1rem;
    border-radius: 12px;
    border-color: #1D7A8C;
    background-color: #00233A;
    color: #1D7A8C;
    text-decoration-color: #ED8074;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 150px; 
}

.button_highscore:hover {
    background-color:#1D7A8C;
    color: #00233A;
}

.how-to {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(29, 122, 140);
  font-size: 30px;
}


/*       SLIDESHOW, CAROUSEL        */


.gallery {
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 500px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {
  height: 250px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 250px;
  z-index: 0;
}

.gallery-item-1 {
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 300px;
  opacity: 1;
  width: 300px;
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

/*"Mittenbild", förutsatt att det är 5 bilder.*/
.gallery-item-3 {
  /*box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);*/ /*Originalfärg, vit*/
  box-shadow: 0 0 30px rgba(29, 122, 144, 0.4), 0 0 60px rgba(29, 122, 144, 0.25), 0 0 110px rgba(29, 122, 144, 0.15), 0 0 100px rgba(29, 122, 144, 0.1); /*Vår färg, "blå-ish", ljus*/
  /*box-shadow: 0 0 30px rgba(237, 128, 116, 0.6), 0 0 60px rgba(237, 128, 116, 0.45), 0 0 110px rgba(237, 128, 116, 0.25), 0 0 100px rgba(237, 128, 116, 0.1);*/ /*Vår färg, "röd-ish"*/
  height: 400px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}

/*Lagt till margin-bottom för att kunna justera mängden tom yta under bildspelet om inget annat placeras där.*/
.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  margin-bottom: 250px;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
  color: rgb(237, 128, 116);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid rgb(237, 128, 116);
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid rgb(237, 128, 116);
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}
